doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  - const classBody = ["bg-gray-100","p-3.5"]
  body(class=classBody)
    header.container.m-auto.flex.pt-5.justify-center
      - const classH1 = ["text-2xl", "text-blue-800", "font-bold", "w-full","xl:text-4xl"]
      h1(class=classH1) Mini Message Board
      - const classA = ["underline", "text-blue-500", "w-full", "text-base", "font-thin", "flex", "justify-end", "items-center", "hover:text-blue-700"]
      a(class=classA href="/new") New message
    - const classS = ["container", "m-auto", "flex", "p-5", "justify-center","mt-5","flex-wrap","gap-5"]
    section(class=classS)
      each message in messages 
        - const classDiv = ["w-96","shadow","rounded-xl","gap-px","p-2","bg-gray-50","duration-500","transform hover:scale-105","flex","flex-col","min-h-full","max-h-52"]
        div(class=classDiv)
          - const classInside = ["flex","items-center"]
          div(class=classInside)
            - const classHUser = ["text-base","font-bold","w-full","capitalize","mb-2"]
              h3(class=classHUser)
                span.underline User:
                |  #{message.user}
            - const classHDate = ["text-xs","font-thin","flex","justify-end","text-gray-400","w-full"]
            h5(class=classHDate)= message.added
          - const classHText = ["text-sm"]
          h4(class=classHText)= message.text
          
